* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.logo, .search {
    position: relative;
    display: inline-block;
}

.logo {
    top: -46px;
    left: -200px;
    transform: scale(.18,.18);
    cursor: pointer;  
}

.search {
    top: -160px;
    left: 160px;
    min-width: 100px;
    display: block;
}

 .search-mic, .clear {
    position: absolute;
    cursor: pointer;
    
}

.search-bar {
    width: 99vh;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 20px;
    
}

.searching {
    display: inline-block;
    position: absolute;
    top: 12px;
    font-size: 16px;
    color: #4285F4;
    cursor: pointer;
}


.search-mic {
    top: 12px;
    width: 36px;
    border-left: 1px solid lightgray;
    padding-left: 20px;
    cursor: pointer;
    
}

.clear{
    top: 12px;
    font-size: 20px;
    font-weight: 1px;
    color: grey;
    cursor: pointer;
}

#top {
    position: relative;
    top: 85px;
    left: 165px;
}
#top a {
    color: #5f6368;
}

.border {
    position: relative;
    top: 77px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}


li {
    display: inline;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}
#color-search {
    transform: scale(.14, .14);
    display: inline-block;
    position: fixed;
    top: 36px;
    left: 115px;
    cursor: pointer;
}

#news{
    font-size: 13px;
    color: #5f6368;
    cursor: pointer;
}

#shopping, #more, #videos, #maps{
    color: #5f6368;
    cursor: pointer;
}

#all{
    border-bottom: 4px solid #4285F4;
    padding-bottom: 9px;
    padding-left: 20px;
    
}

.move-middle, .move-right {
    display: inline;
    cursor: pointer;
}
.move-right{
    position: relative;
    right: 0;
    top: 29px;
    margin-right: 10px;
}

.move-middle {
    position: fixed;
    right: 590px;
}

#tools:hover{
    border: 1px solid #70757a;
    background-color: #ebebeb;
    border-radius: 2px;
    padding: 6px 10px;
}

.sign-in-btn {
    position: relative;
    top: -8px;
    background-color: #4285F4;
    border: 1px solid #4285F4;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    padding: 6px 10px;
}
.square-menu {
    cursor: pointer;
    width: 22px;
}

.square-menu:hover {
    background-color: gray;
    border: 1px solid #5f6368;
    border-radius: 100px;
    
}

.main {
    position: relative;
    top: 100px;
    left: 165px;
}

.results {
    position: relative;
    top: -20px;
}

.results p {
    color: #70757a;
}

.featured-snippets{
    border: 1px solid #ebebeb;
    position: relative;
    left: 6px;
    padding: 10px;
    max-width: 655px;
    border-radius: 12px;
}
#snippet-p{
    font-size: 16px;
    padding: 0 0 0 8px;
    
}
#linked-link {
    font-size: 12px;
    color: #202124;
}

.fas fa-chevron-right {
    color: #202124;
}
#actual-link{
    font-size: 20px;
    color: #1a0dab;
    padding-bottom: 10px;
    display: block;
}

.mini-bar {
    position: relative;
    top: 8px;
    left: 400px;
}

#question, #exclamation {
    color: #70757a;
}

#about-fs {
    font-size: 12px;
    color: #70757a;
    display: inline-block;
    padding-right: 22px;
}

.people-also-ask{
    position: relative;
    top: 10px;
    max-width: 655px;
    border: 1px solid #ebebeb;
    border-bottom: none;
}

.people-also-ask li {
    display: block;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
}

#down {
    position: relative;
    right: -200px;
}

#head {
    font-size: 20px;  
}

.feedback{
    font-style: italic;
    color: #5f6368;
    font-size: 12px;
    position: relative;
    padding-top: 10px;
    left: 600px;
}
.search-results {
    max-width: 550px;
}

.search-results a {
    font-size: 20px;
    color: #1a0dab;
}

.search-results p {
    color:#202124;
}

#summary {
    font-size: 14px;
    color: #4d5156;
    padding-bottom: 4px;
}
/*
.logo-2 {
    position: relative;
    bottom: 20px;
    transform: scale(.5, .5);
}

#bottom {
    position: fixed;
    bottom: 10px;
}

#footer {
    height: 60px;
    background-color: #f2f2f2;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}